{% extends 'base.html' %}

{% block content %}
<h1>Admin</h1>
<table class="table thead-dark thead-inverse">
<thead>
<tr>
    <th>Bracket</th>
    <th class="text-center">Round</th>
    <th>Bracket Starts</th>
    <th>Bracket Ends</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for bracket in brackets %}
    <tr>
    <td><a href="{{ url_for('bracket.bracket', bracket=bracket.name) }}">{{ bracket.name }}</a></td>
    <td class="text-center">{% if bracket.current_round == 0 %}
        Voting
        {% elif not bracket.is_open %}
        Done
        {% else %}
        {{ bracket.current_round }}/{{ bracket.total_rounds() }}
        {% endif %}
    </td>
    <td class="timestamp">{{ bracket.start_time }}</td>
    <td class="timestamp">{{ bracket.end_time }}</td>
    <td>
    </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}