{% extends 'base.html' %}

{% block content %}
<h1>Brackets</h1>
<table class="table thead-dark thead-inverse">
<thead>
<tr>
    <th>Bracket</th>
    <th class="text-center">Round</th>
    <th>Bracket Starts</th>
    <th>Bracket Ends</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for bracket in brackets %}
    <tr>
    <td><a href="{{ url_for('bracket.bracket', bracket=bracket.name) }}">{{ bracket.name }}</a></td>
    <td class="text-center">{% if bracket.current_round == 0 %}
        Voting
        {% elif not bracket.is_open %}
        Done
        {% else %}
        {{ bracket.current_round }}/{{ bracket.total_rounds() }}
        {% endif %}
    </td>
    <td>{{ bracket.start_time }}</td>
    <td>{{ bracket.end_time }}</td>
    <td>
        {% if bracket.start_time <= now <= bracket.end_time %}
            {% if bracket.current_round == 0 %}
                <a class="btn btn-primary btn-sm" href="{{ url_for('vote.vote', bracket=bracket.name) }}">Vote</a>
            {% elif now < bracket.end_time %}
                <a class="btn btn-primary btn-sm"  href="{{ url_for('guess.guess', bracket=bracket.name, round=bracket.current_round) }}">Guess</a>
            {% endif %}
        {% endif %}
    </td>
    </tr>
{% endfor %}
</tbody>
</table>

{#    TODO: Idea: Show times in local timezone. Javascript to change it?#}
{#        [<a href="{{ url_for('votes', bracket=bracket.name) }}">Total score</a>]#}
{% endblock %}